src/main/java/transNational-sys-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="ba191df6-d468-4498-890e-2f988300e33f" >
		<wsc:connection wsdlLocation="http://transnationalservice.us-e2.cloudhub.io/Bookings/BookingsSOAP?WSDL" service="Bookings" port="BookingsSOAP" address="http://transnationalservice.us-e2.cloudhub.io/Bookings/BookingsSOAP" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="transNational-sys-implFlow" doc:id="4ac3f231-c2c9-4692-9d34-b0aa530fd950" >
		<ee:transform doc:name="Transform Message" doc:id="0bc1627f-18f5-452d-93d7-236be392f915" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.example.org/Bookings/
---
{
ns0#getRoutes: {
         in: "All"
      }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="63588b8c-be9e-4779-97fc-c4c9bfad3ba3" config-ref="Web_Service_Consumer_Config" operation="getRoutes"/>
		<logger level="INFO" doc:name="Logger" doc:id="e69b815d-9947-45bd-a358-b21cec9e9a78" message="#[payload]"/>
	</flow>
</mule>
