src/main/mule/transNational-sys-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="transNational-routes" doc:id="4ac3f231-c2c9-4692-9d34-b0aa530fd950" >
		<logger level="INFO" doc:name="Start Logger" doc:id="99cf3793-fffd-4f62-b092-ec0af282be82" message="## Start of Flow transNational-routes"/>
		<ee:transform doc:name="Map TransNational WebService" doc:id="0bc1627f-18f5-452d-93d7-236be392f915" >
			<ee:message >
				<ee:set-payload resource="dwl/transNationalSysInput.dwl" />
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="TransaNational Webservice" doc:id="63588b8c-be9e-4779-97fc-c4c9bfad3ba3" config-ref="Web_Service_Consumer_TransNational" operation="getRoutes"/>
		<logger level="DEBUG" doc:name="TransNational Servicce Routes" doc:id="e69b815d-9947-45bd-a358-b21cec9e9a78" message="#[payload]"/>
		<ee:transform doc:name="Convert Response to XML" doc:id="662b5030-2ec4-42e5-817c-f570dfd15161">
			<ee:message>
				<ee:set-payload resource="dwl/ConvertResponseToXML.dwl" />
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Convert to Taget JSON" doc:id="863234b4-a054-4293-8378-e7ef890baf2f" >
			<ee:message >
				<ee:set-payload resource="dwl/ConverToTargetJSON.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="TransNational Routes" doc:id="38a3f187-0047-4b9b-8e81-cf5d3415dd92" message="#[payload] #### End of TransNational-routes"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c13da47c-5f14-465b-bc3a-3252e9724cad" type="ANY">
				<set-payload value="#[error.description]" doc:name="Set Payload" doc:id="53c94af6-c0d8-4f95-af97-c7d85fa5b252" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
